### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [48]:
# Dependencies and Setup
import pandas as pd
from pandas import DataFrame

# File to Load (Remember to Change These)
file_to_load = "./Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [49]:
totalplayers = (len(purchase_data))
print("Total Players: "+str(totalplayers))

Total Players: 780

In [50]:
#unique counts
uniqueplayers = len(purchase_data["SN"].unique()) 
print("Unique Players: " +str(uniqueplayers))

Unique Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [51]:
uniqueitems = len(purchase_data["Item ID"].unique())

avgprice = "$"+str(round(purchase_data["Price"].mean(),2))

avgage = int(purchase_data["Age"].mean())

purchasecount = purchase_data["Price"].count()

totalsales = "$"+str(purchase_data["Price"].sum())

summarytable = pd.DataFrame({"Unique Items":uniqueitems, 
                             "Average Price":[avgprice], 
                             "Average Age":[avgage], 
                             "Purchase Count":[purchasecount],
                            "Total Sales":[totalsales]})

summarytable

   Unique Items Average Price  Average Age  Purchase Count Total Sales
0           179         $3.05           22             780    $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [52]:
#unique player list 
uniqueplayerlist = purchase_data[["SN",'Gender']].drop_duplicates() 

#counts of genders 
gendercount = uniqueplayerlist["Gender"].value_counts() 

#% 
genderpercentage = ((gendercount/uniqueplayers)*100).round(1) 
genderpercentage 
  
#DF 
gendersummarydf = pd.DataFrame({"Total":gendercount, 
                                "Percentage":genderpercentage}) 
gendersummarydf

                       Total  Percentage
Male                     484        84.0
Female                    81        14.1
Other / Non-Disclosed     11         1.9


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
#purchase count by gender
Purchasinggb = purchase_data.groupby(['Gender'])
PurchaseCount = Purchasinggb.count()['Price']
PurchaseAvg = Purchasinggb.count()['Price']
PurchaseTotal = Purchasinggb.sum()['Price']/gendercount

In [54]:
#summarygender = pd.DataFrame({"Purchase Count":gendercount,
                         #  "Avg Purchase Price":genderavgpp})

summarygender = pd.DataFrame(gendercount, columns = ['Purchase ID'])
summarygender

result = pd.concat([gendercount, genderavgpp], axis=1, join='inner')
result

NameError: name 'genderavgpp' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [67]:
nodupdf = purchase_data.loc[:, ['SN', 'Age']].drop_duplicates()
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 990]
GroupNames = [ '<10', '10-14','15-19’,‘20-24’, ‘25-29’,‘30-34’,‘35+']
nodupdf['Age Ranges'] = pd.cut(nodupdf ['Age'], bins = GroupNames , labels = bins)
AgeDemographicsTotals = nodupdf ['Age Ranges'].value_counts()
AgeDemographicsPercents = (AgeDemographicsTotals / TotalPlayers * 100).round(2)
AgeDemographics = pd.DataFrame({'Age Group Total': AgeDemographicsTotals, 
                                'Percentage of Total': AgeDemographicsPercents})
AgeDemographics.sort_index()

ValueError: could not convert string to float: '<10'

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame